body{
    margin: 0;
    background-color: #f8f8f8;
}

.header{
    background-color: #eeeeee;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.data-container{
    text-align: center;
    padding: 5% 10%;
}

.details-img{
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.button-container{
    margin: 20px 10px 0px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 2.5%;
    padding: 3%;
}

.card{
    min-width: 200px;
    background-color: #dedede;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-style: solid;
    border-width: 1;
    border-color: #393e46;
    border-radius: 15px;
    &:hover{
        box-shadow: 1px 1px 6px #1d2025;
    }
    img{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
    }
}

@media (max-width:950px){
    .card-container{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.5%;
    }
}

@media (max-width:750px){
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3%;
        row-gap: 1%;
    }
}

@media (max-width:550px){
    .card-container{
        grid-template-columns: 1fr;
        gap: 0.5%
    }
}
